<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="apps.ejemplo.horrografia.Ayuda"></activity>
        <activity android:name="apps.ejemplo.horrografia.About" />
        <activity android:name="apps.ejemplo.horrografia.EstadisticasAciertos" />
        <activity android:name="apps.ejemplo.horrografia.EstadisticasErrores" />
        <activity android:name="apps.ejemplo.horrografia.Top" />
        <activity android:name="apps.ejemplo.horrografia.GameOver" />
        <activity android:name="apps.ejemplo.horrografia.ActualizarUsuario" />
        <activity android:name="apps.ejemplo.horrografia.PartidaDefecto" />
        <activity android:name="apps.ejemplo.horrografia.MainActivity" />
        <activity android:name="apps.ejemplo.horrografia.PartidaNivel4" />
        <activity android:name="apps.ejemplo.horrografia.PartidaNivel3" />
        <activity android:name="apps.ejemplo.horrografia.PartidaNivel2" />
        <activity android:name="apps.ejemplo.horrografia.Puntuacion" />
        <activity android:name="apps.ejemplo.horrografia.Partida" />
        <activity android:name="apps.ejemplo.horrografia.IniciarPartida" />
        <activity android:name="apps.ejemplo.horrografia.restartPassword" />
        <activity android:name="apps.ejemplo.horrografia.NivelesJuego" />
        <activity android:name="apps.ejemplo.horrografia.Escenario" />
        <activity android:name="apps.ejemplo.horrografia.CrearItem" />
        <activity android:name="apps.ejemplo.horrografia.Etapa" />
        <activity android:name="apps.ejemplo.horrografia.RegistroAdministrador" />
        <activity android:name="apps.ejemplo.horrografia.Nivel" />
        <activity android:name="apps.ejemplo.horrografia.AdministradorHome" />
        <activity android:name="apps.ejemplo.horrografia.Home" />
        <activity android:name="apps.ejemplo.horrografia.Registro" />
        <activity android:name="apps.ejemplo.horrografia.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>